<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:replace="fragments/head">Head</div>
<title>Login</title>
<div th:replace="fragments/Top">Topbar</div>


<body>
<div th:replace="fragments/header">Header</div>

<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/register}"
                    th:method="POST"
                    th:object="${userModel}" >
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input name="username"
                               th:field="*{username}"
                               th:errorclass="is-invalid"
                               type="text"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                        <small id="usernameError"
                               class="invalid-feedback bg-danger rounded">Username length must be more than 3 characters</small>

                        <small id="usernameUniqueError"
                               class="invalid-feedback bg-danger rounded">Username is already occupied</small>

                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label ">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input name="fullname"
                               th:value="*{fullname}"
                               th:errorclass="is-invalid"
                               type="text"
                               id="inputFullName"
                               class="form-control"
                               aria-describedby="fullNameHelpInline">
                        <small id="fullNameError"
                               class="invalid-feedback  form-text bg-danger rounded">Full name length must be more than 3 characters</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label ">Email</label>
                    </div>
                    <div class="col-auto">
                        <input name="email"
								required
                               th:value="*{email}"
                               th:errorclass="is-invalid"
                               type="email"
                               id="inputEmail"
                               class="form-control"
                               aria-describedby="emailHelpInline">
                        <div class="invalid-feedback errors alert alert-danger">
                            <div
                                    th:each="err : ${#fields.errors('email')}"
                                    th:text="${err}"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                               th:value="*{password}"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="20"
                               type="password"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 5 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               th:value="*{confirmPassword}"
                               th:errorclass="is-invalid"
                                required minlength="5" maxlength="20"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 5 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>

            </form>
        </div>
    </div>
</main>
<div th:replace="fragments/footer">Footer</div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>