<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
    <a href="" class="navbar-brand d-block d-lg-none">
      <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Safety</span>First</h1>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
      <div class="navbar-nav mr-auto py-0">
        <a href="/index" class="nav-item nav-link active">Home</a>
        <a href="/bout" class="nav-item nav-link">About</a>
        <a href="/service" class="nav-item nav-link">Services</a>
        <a href="/price" class="nav-item nav-link">Price</a>
        <a href="/users/logout" class="nav-item nav-link">Logout</a>

        <li class="nav-item">
          <form th:method="get">
            <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
            <select
                    onchange="this.form.submit()"
                    id="lang"
                    name="lang">
              <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
              <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
            </select>
          </form>
        </li>
      </div>
    </div>
  </nav>
</div>